
body {
    min-height: 600px;
    padding: 0;
    margin: 0px;
}

a:hover{
    opacity: 0.5;
}

#header {
    text-align: center;
    font-size: 40px;
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
}

.container{
    min-height: 600px;
}
.games {
    border-bottom: solid 2px rgb(155, 155, 155);
    color: red;
    background-color: aqua;
}

.login {
    float: right;
    margin: 15px;
}

.login #login, #register, #logout{
    background-color: white;
    color: #119DA4;
    padding: 14px 20px;
    margin: 8px 0;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
    width: 10%;
    border-radius: 20px;
    text-decoration: none;
}

.footer  {
      left: 0;
      bottom: 0;
      width: 100%;
      color: #119DA4;
      text-align: center;
}

.navigation a{
    float: left;
    padding: 4px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    width: 48%;
    text-align: center;
    padding-left: 10px ;
    border-style: solid;
    }

.navigation {
    width: 100%;
    overflow: auto;

}

.navigation a:hover {
    background-color: #119DA4;
}

.navigation a:active{
    background-color: #B8D5B8;
}

.search{
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: white;
    padding: 20px;
}

/* padding for the search bars*/
.input-group {
    padding: 50px;
}

.search input[type=text] {

    /*padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    background: white;
    width: 80%;
    background: #f1f1f1;*/
}

.input-group #search-btn-computers{
    margin: auto;
    width: 20%;
    padding: 20px;
    background: #B8B8D1;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.input-group #search-btn{
    margin: auto;
    width: 20%;
    padding: 20px;
    background: #B8B8D1;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}


/* The parent is a flex with a wrap to get a normal looking listing*/
.index-product {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #0C7489;
}

/* This makes sure that there can only be three games per row */
.single-product {
    border-style: double;
    margin: 1%;
    flex: 0 0 30%;
    text-decoration: none;
;
}
/*when hovering over a single game */
.single-product:hover{
  background-color: #5D5D81;
}

.single-product .product-img{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.single-product .product-img:hover{
    opacity: 0.7;
}
.single-product h4 {
    font-size: 25px;
    text-align: center;
    color: black;
}

.single-product p{
    font-size: 18px;
    color: black;
}

.home .link {
    color: #119DA4;
    font-size: 70px;
 }

.details{
}

.details .product-img{
    padding: 10px;
    height: 500px;
    display: block;
    float: left;
    margin: 30px;
    border: 1px solid black;
    border-color: rgb(226, 226, 226) ;
}

.details #price{
    background-color: rgb(0, 30, 127);
    color: white;
    font-size: 40px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
}

.details #description{
    padding: 7px;
    border: 1px solid black;
    display: contents;

}

.details h1{
    padding-top: 50px;
}



#delete-btn{
    background-color: rgb(200, 0, 0);
    float: left;
    padding: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 10px ;
    font-size: 10px;
    border-style: solid;
    margin-top: 200px;
    }

#update-btn{
    background-color: rgb(50, 170, 255);
    float: left;
    padding: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 10px ;
    font-size: 17px;
    border-style: solid;
    margin-top: 200px;
}

#buy-btn{
    background-color: rgb(0, 206, 96);
    padding: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding-left: 10px ;
    border-style: solid;
}

.order-btn {
    display: block ruby;
}

.order-btn #order-btn{
    color: black;
    font-size: 20px;
}





