
body {
    min-height: 100vh;
    padding: 0;

}

.games {
    border-bottom: solid 2px rgb(155, 155, 155);
    color: red;
    background-color: aqua;
}

.footer  {
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(151, 179, 255) ;
      color: white;
      text-align: center;
}

.login button,.cart button {
    background-color: rgb(155, 155, 155);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
    width: 10%;
}

.login{
    text-align: right;
}

.cart{
    text-align: right;

}

.navigation a{
    float: left;
    padding: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    width: 48%;
    text-align: center;
    padding-left: 10px ;

    }
.navigation {
  width: 100%;
  background-color: rgb(228,228,228);
  overflow: auto;
}

.navigation a:hover {
    background-color: rgb(165, 161, 161);
}

.navigation a:active{
    background-color: rgb(129, 129, 129);
}

.search{

}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    width: 30%;
    background: white;
}

form.search button{
    float: right;
    width: 5%;
    padding: 20px;
    background: gray;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

/* Þetta er til að displaya alla leiki sem flex box  */
.index-games {
    display: flex;
}

.single-games {
    padding: 30px;
    /* border-style: solid */
    width: 30%;
;
}

.single-games .games-img{
    height: 300px;
}