
body {
    min-height: 600px;
    padding: 0;
    margin: 0px;
}

a:hover{
    opacity: 0.5;
}

#header {
    text-align: center;
    font-size: 40px;
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
}

.container{
    min-height: 600px;
}
.games {
    border-bottom: solid 2px rgb(155, 155, 155);
    color: red;
    background-color: aqua;
}

.login {
    float: right;
    margin: 15px;
}

.login #login, #register, #logout{
    background-color: rgb(151, 179, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
    width: 10%;
    border-radius: 20px;
    text-decoration: none;
}






.footer  {
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(151, 179, 255) ;
      color: white;
      text-align: center;
}
.navigation{
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.555);
    color: rgb(136, 136, 136);
    display: block;
    overflow: hidden;
    width: 100%;

}

.navigation ul{
    list-style-type: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;

}
.navigation ul li{
    width: 100%;
    border: 1px solid;
    font-size: 40px;
    text-align: center;
}

.navigation a{
    text-decoration: none;
     color: rgb(0, 0, 0);
}

.navigation a:hover, li:hover {

}

.navigation a:hover, li:active{

}

.search{
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: white;
    padding: 20px;
}

/* padding for the search bars*/
.input-group {
    padding: 50px;
}

.search input[type=text] {

    /*padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    background: white;
    width: 80%;
    background: #f1f1f1;*/
}


.input-group #search-btn, #search-btn-comp{
    margin: auto;
    width: 20%;
    padding: 20px;
    background: rgb(205, 205, 205);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}



/* The parent is a flex with a wrap to get a normal looking listing*/
.index-product {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(217, 217, 217);
}

/* This makes sure that there can only be three games per row */
.single-product {
    border-style: double;
    margin: 1%;
    flex: 0 0 30%;
    text-decoration: none;
;
}
/*when hovering over a single game */
.single-product:hover{
  background-color: rgb(198, 198, 198);
}

.single-product #product-img{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.single-product #product-img:hover{
    opacity: 0.7;
}
.single-product h4 {
    font-size: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
}


.single-product p{
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}

.home .link {
    color: rgb(172, 214, 255);
    font-size: 70px;
 }

.details{
}

.details #product-img{
    padding: 10px;
    height: 500px;
    width: 40%;
    display: block;
    float: left;
    margin: 30px;
    border: 1px solid;
    border-color: rgb(226, 226, 226) ;
}

.details #product-img2{
    padding: 10px;
    height: 100px;
    width: 20%;
    display: block;
    float: left;
    margin: 30px;
    border: 1px solid;
    border-color: rgb(226, 226, 226) ;
}

.details #price{
    background-color: rgb(0, 30, 127);
    color: white;
    font-size: 40px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
}

.details #description{
    padding: 7px;
    border: 1px solid black;
    display: contents;

}

.details h1{
    padding-top: 50px;
}



#delete-btn{
    background-color: rgb(200, 0, 0);
    float: left;
    padding: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 10px ;
    font-size: 10px;
    border-style: solid;
    margin-top: 200px;
    }

#update-btn{
    background-color: rgb(50, 170, 255);
    float: left;
    padding: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 10px ;
    font-size: 17px;
    border-style: solid;
    margin-top: 200px;
}

#buy-btn{
    background-color: rgb(0, 206, 96);
    padding: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding-left: 10px ;
    border-style: solid;
}


.order-btn{
    margin: 7px;
}
.order-btn #order-btn{
    color: black;
    font-size: 20px;
    display: contents;
}

.profile-image-profile{
    height: 200px;
}

.profile-image{
    height: 30px;
}

.personal-info{
    display: inline-grid;
    padding: 10px;
}

.personal-info #btn{
    margin: 10px;
    font-size: 30px;
    width: 50%;
}



