{% extends 'base.html' %}
{% block content %}
    <div class="order-btn">
        <p id="order-btn">Raða eftir: </p>
        <a id ="order-btn" href="/computers/get_computers_by_highest">Hæsta verði, </a>
        <a id ="order-btn" href="/computers/get_computers_by_lowest">Lægsta verði, </a>
        <a id ="order-btn" href="/computers/get_computers_by_name">Nafni</a>
    </div>
    <h1 id="header">TÖLVUR OG LEIKJAVÉLAR</h1>

    <div class="input-group">
        <input type="search" class="search" id="search-box-comp" placeholder="Hverju ertu að leita af..."/>
        <div class="#">
            <button type="button" id="search-btn-comp" class="#">Leita</button>
        </div>
    </div>

    <div class="index-product">
    {% for computer in computers %}
        {% include 'computers/single_computer.html' with computers=computer %}
    {% endfor %}
    </div>
{% endblock %}