{% extends "base.html" %}
{% block content %}

    <div class="box-final">

        <div class="final">
            <h1>Persónulegar upplýsingar</h1>
            <form class="personal-info" action="{% url 'buy_game' id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div>
                    <a href="{% url 'payment_info' id%}" >
                        <input  type="submit" value="Halda áfram" id="btn"/>
                    </a>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
