{% extends 'base.html' %}
{% block content %}
    <div class="details">
        {% for games_image in games.gamesimage_set.all %}
            <img src="{{ games_image.image }}" class="product-img" />
        {% endfor %}
        <h1>{{ games.name }}</h1>
        <p id="description">{{ games.description }}</p>
        <p>Tegund: {{ games.category.name }}</p>
        <p>Leikjavél: {{ games.console.name}}</p>

        <ul>
            <p id="price">
                {% if games.on_sale %}
                    <del>{{ games.price }}kr</del>
                    {{ games.discount_price}} kr.
                    {% else %}
                    {{ games.price }} kr
                {% endif %}
            </p>
            <a href="{% url 'buy_game' games.id%}" id="buy-btn">Kaupa vöru</a>
        </ul>

    </div>

{% endblock %}