{% extends 'base.html' %}
{% block content %}
    <div class="details">
        {% for games_image in games.gamesimage_set.all %}
            <img src="{{ games_image.image }}" class="games-img" />
        {% endfor %}
        <h1>{{ games.name }}</h1>
        <p id="description">{{ games.description }}</p>
        <p>Leikjavél: {{ games.console.name}}</p>
        <ul>
            <p id="price">{{ games.price }} kr.</p>
            <a href="#" id="cart-btn">Setja í körfu</a>

        </ul>
    </div>


        <a href="{% url 'delete_game' games.id %}" id="delete-btn">Eyða leik</a>
        <a href="{% url 'update_game' games.id %}" id="update-btn">Uppfæra leik</a>


{% endblock %}