{% extends 'base.html' %}
{% block content %}
    <div class="order-btn">
        <p id="order-btn">Raða eftir: </p>
        <a id ="order-btn" href="/games/get_games_by_highest">Hæsta verði, </a>
        <a id ="order-btn" href="/games/get_games_by_lowest">Lægsta verði, </a>
        <a id ="order-btn" href="/games/get_games_by_name">Nafni, </a>
        <a id ="order-btn" href="/games/get_games_by_category">Leikja tegund, </a>
        <a id ="order-btn" href="/games/get_games_by_console">Tölvu tegund</a>


    </div>
    <h1 id="header">TÖLVULEIKIR</h1>
    <div class="input-group">
        <input type="search" class="search" id="search-box" placeholder="Hverju ertu að leita af..."/>
        <div class="#">
            <button type="button" id="search-btn" class="#">Leita</button>
        </div>
    </div>

    <div class="index-product">
    {% for game in games %}
        {% include 'games/single_game.html' with games=game %}
    {% endfor %}
    </div>
{% endblock %}