{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Captain Console</title>
    <link rel="stylesheet" href ="{% static 'css/main.css' %}"  />
</head>
<body>



    <div class="home">
        <a href="{% url 'mainpage-index' %}" class="link" >Captain Console</a>
    </div>

    {% include 'login.html' %}
    {% include 'searchbar.html'%}
    {% include 'navigation.html' %}

   <div class="container">
          {% block content %}

            {% endblock %}
    </div>
     {% include 'footer.html' %}


    <!--the script for bootstrap -->


</body>
</html>